In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r'C:\Users\prade\dav proj\data1.csv')
df.drop(columns=['URLs','Unnamed: 4','Unnamed: 5'],inplace=True)
df["Body"] = df["Body"].astype(str)
df["Headline"] = df["Headline"].astype(str)
df.head()
df.shape

(4060, 3)

In [3]:
df['Body'] = df['Body'].str.replace(r'[^\w\s]+', '')
df['Headline'] = df['Headline'].str.replace(r'[^\w\s]+', '')
#convert to lower case
df['Body'] =df['Body'].str.lower()
df['Headline'] = df['Headline'].str.lower()

df.head()

C:\Users\prade\AppData\Local\Temp\ipykernel_24412\2795855980.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Body'] = df['Body'].str.replace(r'[^\w\s]+', '')
C:\Users\prade\AppData\Local\Temp\ipykernel_24412\2795855980.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Headline'] = df['Headline'].str.replace(r'[^\w\s]+', '')

,Headline,Body,Label
0,four ways bob corker skewered donald trump,image copyright getty images\non sunday mornin...,1
1,linklaters war veteran comedy speaks to modern...,london reuters last flag flying a comedydrama...,1
2,trumps fight with corker jeopardizes his legis...,the feud broke into public view last week when...,1
3,egypts cheiron wins tieup with pemex for mexic...,mexico city reuters egypts cheiron holdings l...,1
4,jason aldean opens snl with vegas tribute,country singer jason aldean who was performing...,1

In [4]:
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prade\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["headline_wo_stop"] = df["Headline"].apply(lambda text: remove_stopwords(text))
df["Body_wo_stop"] = df["Body"].apply(lambda text: remove_stopwords(text))
df.head()

,Headline,Body,Label,headline_wo_stop,Body_wo_stop
0,four ways bob corker skewered donald trump,image copyright getty images\non sunday mornin...,1,four ways bob corker skewered donald trump,image copyright getty images sunday morning do...
1,linklaters war veteran comedy speaks to modern...,london reuters last flag flying a comedydrama...,1,linklaters war veteran comedy speaks modern am...,london reuters last flag flying comedydrama vi...
2,trumps fight with corker jeopardizes his legis...,the feud broke into public view last week when...,1,trumps fight corker jeopardizes legislative ag...,feud broke public view last week mr corker sai...
3,egypts cheiron wins tieup with pemex for mexic...,mexico city reuters egypts cheiron holdings l...,1,egypts cheiron wins tieup pemex mexican onshor...,mexico city reuters egypts cheiron holdings li...
4,jason aldean opens snl with vegas tribute,country singer jason aldean who was performing...,1,jason aldean opens snl vegas tribute,country singer jason aldean performing las veg...

In [6]:
import nltk.stem
from nltk.stem import PorterStemmer

In [7]:
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["headline_stemmed"] = df["headline_wo_stop"].apply(lambda text: stem_words(text))
df["body_stemmed"] = df["Body_wo_stop"].apply(lambda text: stem_words(text))
df.head()

,Headline,Body,Label,headline_wo_stop,Body_wo_stop,headline_stemmed,body_stemmed
0,four ways bob corker skewered donald trump,image copyright getty images\non sunday mornin...,1,four ways bob corker skewered donald trump,image copyright getty images sunday morning do...,four way bob corker skewer donald trump,imag copyright getti imag sunday morn donald t...
1,linklaters war veteran comedy speaks to modern...,london reuters last flag flying a comedydrama...,1,linklaters war veteran comedy speaks modern am...,london reuters last flag flying comedydrama vi...,linklat war veteran comedi speak modern americ...,london reuter last flag fli comedydrama vietna...
2,trumps fight with corker jeopardizes his legis...,the feud broke into public view last week when...,1,trumps fight corker jeopardizes legislative ag...,feud broke public view last week mr corker sai...,trump fight corker jeopard legisl agenda,feud broke public view last week mr corker sai...
3,egypts cheiron wins tieup with pemex for mexic...,mexico city reuters egypts cheiron holdings l...,1,egypts cheiron wins tieup pemex mexican onshor...,mexico city reuters egypts cheiron holdings li...,egypt cheiron win tieup pemex mexican onshor o...,mexico citi reuter egypt cheiron hold limit ri...
4,jason aldean opens snl with vegas tribute,country singer jason aldean who was performing...,1,jason aldean opens snl vegas tribute,country singer jason aldean performing las veg...,jason aldean open snl vega tribut,countri singer jason aldean perform la vega sh...

In [ ]:
import nltk.tokenize
from nltk.tokenize import word_tokenize
nltk.download('punkt')

In [ ]:
def generate_N_grams(text,ngram):
  tokens = nltk.word_tokenize(text)
  temp=zip(*[tokens[i:] for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans
df["headline_1g"] = df["headline_stemmed"].apply(lambda text: generate_N_grams(text,1))
df["body_1g"] = df["body_stemmed"].apply(lambda text: generate_N_grams(text,1))
df["headline_2g"] = df["headline_stemmed"].apply(lambda text: generate_N_grams(text,2))
df["body_2g"] = df["body_stemmed"].apply(lambda text: generate_N_grams(text,2))
df["headline_3g"] = df["headline_stemmed"].apply(lambda text: generate_N_grams(text,3))
df["body_3g"] = df["body_stemmed"].apply(lambda text: generate_N_grams(text,3))
df["headline_4g"] = df["headline_stemmed"].apply(lambda text: generate_N_grams(text,4))
df["body_4g"] = df["body_stemmed"].apply(lambda text: generate_N_grams(text,4))

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tr_idf_model  = TfidfVectorizer(ngram_range=(2,2))

tf_idf_vector = tr_idf_model.fit_transform(df['body_stemmed'][0:10])
w=tr_idf_model.get_feature_names()


tf_idf_array = tf_idf_vector.toarray()
df_tf_idf = pd.DataFrame(tf_idf_array, columns = w)

df_tf_idf

c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,02 percent,10 enter,10 percentag,10 said,12 report,1375 million,15 2017,168 sq,19 2017,20 percent,...,year stay,year think,york edit,york reuter,york time,york timess,york us,younger leftier,your robot,zidar economist
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.036528,0.000000,0.000000,0.000000,0.027167,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.046341,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.035132,0.000000,0.000000,0.052257,0.029865,0.000000,0.000000,0.029865,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.122169,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.130496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.032774,0.000000,0.032774,0.032774,0.000000,0.032774,0.000000,0.000000,0.000000,0.032774,...,0.000000,0.000000,0.000000,0.000000,0.024375,0.027861,0.000000,0.000000,0.027861,0.032774
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.056815,0.000000,...,0.000000,0.000000,0.056815,0.056815,0.000000,0.000000,0.056815,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.070809,0.000000,0.070809,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
tr_idf_model  = TfidfVectorizer(ngram_range=(3,3))

tf_idf_vector = tr_idf_model.fit_transform(df['body_stemmed'][0:10])
w=tr_idf_model.get_feature_names()


tf_idf_array = tf_idf_vector.toarray()
df_tf_idf = pd.DataFrame(tf_idf_array, columns = w)

df_tf_idf

c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,02 percent worker,10 enter rememb,10 percentag point,10 said joseph,12 report victoria,1375 million year,15 2017 reutersaxel,168 sq km,19 2017 reutersjeenah,20 percent 393000,...,york edit tim,york reuter head,york time newslett,york time realli,york time say,york timess product,york us septemb,younger leftier type,your robot click,zidar economist univers
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.040091,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.04943,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.033228,0.000000,0.039088,0.033228,0.000000,0.00000,0.033228,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.000000,0.133631,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
6,0.036076,0.000000,0.036076,0.036076,0.000000,0.036076,0.000000,0.000,0.000000,0.036076,...,0.000000,0.000000,0.030668,0.000000,0.000000,0.030668,0.000000,0.00000,0.030668,0.036076
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.058705,0.000000,...,0.058705,0.058705,0.000000,0.000000,0.000000,0.000000,0.058705,0.00000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.083414,0.000000,0.083414,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000

In [10]:
tr_idf_model  = TfidfVectorizer(ngram_range=(4,4))

tf_idf_vector = tr_idf_model.fit_transform(df['body_stemmed'][0:10])
w=tr_idf_model.get_feature_names()


tf_idf_array = tf_idf_vector.toarray()
df_tf_idf = pd.DataFrame(tf_idf_array, columns = w)

df_tf_idf

c:\Users\prade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,02 percent worker state,10 enter rememb one,10 percentag point would,10 said joseph rosenberg,12 report victoria bryan,1375 million year contract,15 2017 reutersaxel schmidtfil,168 sq km field,19 2017 reutersjeenah moon,20 percent 393000 330000,...,york reuter head us,york time newslett find,york time newslett use,york time realli let,york time say public,york timess product servic,york us septemb 19,younger leftier type critic,your robot click box,zidar economist univers chicago
0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.040468,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052778,0.000000,0.000000
2,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.039325,0.000000,0.000000,0.039325,0.033430,0.000000,0.000000,0.033430,0.000000
3,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125988,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.13484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.036563,0.00000,0.036563,0.036563,0.000000,0.036563,0.000000,0.000000,0.000000,0.036563,...,0.000000,0.000000,0.036563,0.000000,0.000000,0.031082,0.000000,0.000000,0.031082,0.036563
7,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.060084,0.000000,...,0.060084,0.000000,0.000000,0.000000,0.000000,0.000000,0.060084,0.000000,0.000000,0.000000
9,0.000000,0.00000,0.000000,0.000000,0.084215,0.000000,0.084215,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000